*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* =====Styling the navbar===== */

.nav-link{
    font-size: 17px;
    font-weight: bold;
}

.mycolor{
    background-color: #ffc288;
}
.navbar-nav .nav-link:hover{
    color: #ff6701 !important;
}

.nav-blog{
    font-size: 40px;
}

.blog{
    color: #ff6701
}

.d-flex button{
    background-color: #ff6701;
    border: #ff6701;
    color: #fff;
    padding: 10px 20px;

}
.d-flex button:hover{
    background-color: #fcecdd;
    color: #ff6701;
}

/* ====styling for carousel-body==== */
.carousel-item{
    overflow: hidden;
} 

.carousel-item img{
    height: 90vh;
    width: 100vw;
}

.car {
    position: relative;
    bottom: 140px;
}

.car h1{
    font-size: 50px;
}

.car p{
    font-size: 20px;
    margin-bottom: 40px;
}

.car a{
    background-color: #ff6701;
    color: #fcecdd;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    /* text-shadow: #887467; */

}

.car a:hover{
    background-color: #fcecdd;
    color: #ff6701;
    transition: 1s;
}

.add-opacity{
    opacity: 0.7;
}

.myMW-700{
    max-width: 700px;
}

.bg-cl{
    background-color: #ff6701;
    color: #fcecdd;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;

}

.bg-cl:hover{
    background-color: #fcecdd;
    color: #ff6701;
    transition: 1s;
}

#motivation{
    /* background-color: #202340; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./../img/d.jpg) no-repeat no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    /* padding: 50px 0; */
    color: #ffffff;
}

.btn-cl{
    background-color: #fcecdd;
    color: #ff6701;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}

.btn-cl:hover{
    background-color: #ff6701;
    color: #fcecdd;
    transition: 1s;
}

section#testimony{
    background-color: #201E1F;
    
}

section#testimony ,carousel-inner{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./../img/r.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
}

footer{
    padding: 50px 10px;
    background: #000000;
    color: #bbbbbb;
}

/* ====about.html styling==== */

section#aboutUsBanner{
    background: url(./../img/r.jpg) no-repeat center;
    height: 55vh;
    background-size: cover;
    background-position: center;
    padding: 20vh 0 0 0;
    opacity: 0.7;
}

section#aboutUsBanner >h1{
    font-weight: bold;
    font-size: 60px;
    color: #ffc288;
}

/* ====styling the donation page */
section#donationBanner{
    background: url(./../img/r.jpg) no-repeat center;
    height: 55vh;
    background-size: cover;
    background-position: center;
    padding: 20vh 0 0 0;
    opacity: 0.7;
}

section#donationBanner >h1{
    font-weight: bold;
    font-size: 60px;
    color: #ffc288;
}

/* ====styling for the contact page */
section#needHelpBanner > p {
    font-style: italic;
    color: #ffc288;
}

section#needHelpBanner{
    background: url(./../img/r.jpg) no-repeat center;
    height: 55vh;
    background-size: cover;
    background-position: center;
    padding: 20vh 0 0 0;
    opacity: 0.7;
}

section#needHelpBanner >h1{
    font-weight: bold;
    font-size: 60px;
    color: #ffc288;
}